body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    max-width: 850px;
    margin: 80px auto;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    color: #1a1a1a;
}

h1 {
    text-align: center;
    color: #336699;
    border-bottom: 3px solid #336699;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 40px;

}

p {
    margin-bottom: 40px;
    font-size: 19px;
    text-align: justify;
}